.FetchReaultsContainer {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 60px;
    padding-block: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;

}

@media screen and (max-width: 527px) {
    .FetchReaultsContainer {
        padding-inline: 0px;
        box-sizing: border-box;
    }
}