.Header {
    height: 80px;
    padding-inline: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h1 {
        background-image: linear-gradient(to right bottom, #fef804, #ffce00, #ffa320, #ff793d, #ff5253, #f83a61, #ed206f, #dd007e, #c50084, #aa0089, #8d018c, #6c108d);
        background-clip: text;
        color: transparent;
        
    }

    > div {
        position: relative;
        height: 100%;
        width: 400px;
        display: flex;
        align-items: center;

        > input {
            height: 40px;
            margin-left: 20px;
            width: 100%;
            border: 2px solid grey;
            border-radius: 20px;
            background-color: rgba(40, 40, 40, 0.409);
            padding-left: 20px;
            padding-right: 23px;
            font-size: 20px;
            
        }

        > div {
            position: absolute;
            right: 2px;
            height: 38px;
            width: 38px;
            border: none;
            border-radius: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 300ms;

            > a {
                display: flex;
                align-items: center;
                justify-content: center;

                > svg {
                    fill: red;
                    font-size: 21px;
                }
    
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 527px) {
    .Header {
        > div {
    
            > input {
                padding-left: 10px;
            }
        }
    }
}