@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
#root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #fef804, #ffce00, #ffa320, #ff793d, #ff5253, #f83a61, #ed206f, #dd007e, #c50084, #aa0089, #8d018c, #6c108d);
}
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-image: linear-gradient(to top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}